<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            background-color: black;
        }
       .logo{
    width: 320px;
    height: 60px;
    background-color: rgb(10, 10, 10);
   }
   .logo img{
    margin-top: 10px;
    width: 150px;
    margin-left: 10px;
    height: 50px;
   }
    </style>
</head>
<body>
    <div class="chat">
        <div class="logo">
            <img src="/images/ze.png" alt="">
        </div>
        <div class="message">
            <div class="open">
                span
            </div>
        </div>
    </div>
</body>
</html>