<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/upload.css">
</head>
<body>
    <div class="home">
    <form action="/upload/post" method="post" enctype="multipart/form-data">
        <input type="file" name="post">
        <input type="text" name="caption" placeholder="Caption">
        <input type="submit" value="upload"> 
    </form>
    <div class="icons">
        <a href="/home"><div>&#8962;</div></a>
        <div class="search-icon">&#128269;</div>
        <a href="/upload"><div>&#9856;</div></a>
        <div>&#127909;</div>
       <a href="/profile"><div class="container"><img src="/images/trial.avif" alt="" class="pro"></div></a>
    </div>
</div>
</body>
</html>